.user-link {
    text-decoration: none;
    color: #333; /* Dark text color */
    font-weight: bold;
}
.user-info {
    padding: 10px;
    background-color: #f9f9f9; /* Light grey background */
    border-radius: 5px;
}

.user-info a {
    text-decoration: none;
    color: blue;

}

.user-info a:hover {
    color: purple;
}
