/* Styles for the All Posts page */
.post-list {
    list-style-type: none;
    padding: 0;
}

.post-item {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #f8f9fa;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.post-item p {
    margin-bottom: 10px;
    color: #333333;
}
/* CSS styles for post containers */
.post-container {
    border: 10px solid #ccc; /* Border style */
    padding: 10px; /* Padding for content */
    margin-bottom: 10px; /* Margin between posts */
    cursor: pointer; /* Change cursor to pointer on hover */
    transition: background-color 0.3s; /* Smooth transition for background color change */
}

/* Style for hover effect */
.post-container:hover {
    background-color: #ddd; /* Change background color on hover */
}
