/* Styles for the All Posts page */
.post-list {
    list-style-type: none;
    padding: 0;
}

.post-item {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #f8f9fa;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    color: blue;
}

.post-link {
    text-decoration: none;
    color: blue;
}

.post-item a {
    text-decoration: none;
    color: blue;
}

.post-item a:hover {
    text-decoration: none;
    color: purple;
}

.post-item p {
    margin-bottom: 10px;
    color: black;
}

.post-content {
    margin-bottom: 10px;
    text-decoration: none;
}

.post-content a {
    text-decoration: none;
    color: blue;
}

.post-content p {
    text-decoration: none;
    color: blue;
}

.author-info {
    font-style: italic;
    color: #666;
}

.like-buttons {
    text-align: left;
}

.like-btn, .unlike-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 5px;
}

.author-link {
    color: blue; /* Set the color of the link */
    text-decoration: none;
    cursor: pointer; /* Change cursor to pointer on hover to indicate it's clickable */
}

.author-link:hover {
    color: purple; /* Change color on hover */
}
.like-btn {
    background-color: #28a745; /* Green color for like button */
    color: #fff;
}

.unlike-btn {
    background-color: #dc3545; /* Red color for unlike button */
    color: #fff;
}
