<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Social Media</title>
    <!-- Add CSS styles for flashed messages -->
    <style>
    /* Define the style for success messages */
    .flash-success {
	    color: green;
    }
    </style>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <!-- Include the navigation bar -->
    {% include 'navbar.html' %}

    <h1>Mini Social Media</h1>
    <!-- Display flashed messages -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                    <!-- Check if the message contains 'success' to apply the correct style -->
                    {% if 'success' in message %}
                        <li class="flash-success">{{ message }}</li>
                    {% else %}
                        <li>{{ message }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <a href="/addPost" class="add-post-btn">Add Post</a>

    {% for post in posts %}
    <div class="post-container">
        <ul class="post-list">
	        <li class="post-item">
		        <a href="/posts/{{ post.id }}" class="post-link">
			    <div class="post-content">
			        {{ post.content }}
			    </div>
			</a>
			<br>
			<hr>
			Author: <a href="/users/{{ post.author_id }}">{{ post.author.firstname }} {{ post.author.lastname }}</a>
			<div class="feedback">
			    <div class="likes">
			        {% if curr_user in user_likes[post.id] %}
			            <form action="/unlike_post/{{ post.id }}" method="POST">
			                <button type="submit" class="unlike-btn">Unlike</button>
				    </form>
			        {% else %}
				    <form action="/like_post/{{ post.id }}" method="POST">
		                        <button type="submit" class="like-btn">Like</button>
				    </form>
			        {% endif %}
				<br>
				Likes: <a href="/post_likes/{{ post.id }}" class="like-link">{{ post.likes }}</a>
			    </div>
			    <div class="comments">
			        <a href="/comments/{{ post.id }}" class="comment-link">Comment</a>
			    </div>
			</div>
		</li>
	</ul>
    </div>
    {% endfor %}
</body>
</html>
