<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Posts</title>
    <link rel="stylesheet" href="static/posts.css">
</head>
<body>
    <!-- Include the navigation bar -->
    {% include 'navbar.html' %}

    <h1>All Posts</h1>
    <ul class="post-list">
        {% for post in posts %}
            <li class="post-item">
                <p>{{ post.content }}</p>
		<p>Author: {{ authors[post.id] }}</p>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
