<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Posts</title>
    <link rel="stylesheet" href="/static/posts.css">
</head>
<body>
    <!-- Include the navigation bar -->
    {% include 'navbar.html' %}

    <h1>All Posts</h1>
    <ul class="post-list">
        {% for post in posts %}
            <li class="post-item">
                <a href="/posts/{{ post.id }}" class="post-link">
                        <div class="post-content">
                            <p>{{ post.content }}</p>
			</div>
		</a>
                            <p class="author-info">
                                Author: <a href="/users/{{ post.author_id }}" class="author-link">{{ authors[post.id] }}</a>
                            </p>
			    <p>Likes: <a href="/post_likes/{{ post.id }}">{{ post.likes }}</a></p>
                <div class="like-buttons">
                    {% if curr_user in user_likes[post.id] %}
                        <form action="/unlike_post/{{ post.id }}" method="POST">
                            <button type="submit" class="unlike-btn">Unlike</button>
                        </form>
                    {% else %}
                        <form action="/like_post/{{ post.id }}" method="POST">
                            <button type="submit" class="like-btn">Like</button>
                        </form>
                    {% endif %}
                </div>
		{% if post.author_id == curr_user or is_admin %}
                    <div class="edit-delete-buttons">
                        <a href="/posts/{{ post.id }}/edit" class="edit-btn">Edit</a>
                        <a href="/delete_post/{{ post.id }}" class="delete-btn">Delete</a>
                    </div>
                {% endif %}
            </li>
        {% endfor %}
		
    </ul>
</body>
</html>
