<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Likes</title>
    <link rel="stylesheet" href="/static/likes.css">
</head>
<body>
    <!-- Include the navigation bar -->
    {% include 'navbar.html' %}

    <h1>Users who Liked this Post</h1>
    <ul class="user-list">
        {% for like in post_likes %}
            <li class="user-item">
                <a href="/users/{{ like.user_id }}" class="user-link">{{ like.user.firstname }} {{ like.user.lastname }}</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
