<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="/static/posts.css">
    <link rel="stylesheet" href="/static/navbar.css">
</head>
<body>
    {% include 'navbar.html' %}
    <h1>User Profile</h1>
    <div>
        <p><strong>Name:</strong> {{ user.firstname }} {{ user.lastname }}{% if is_current_user %} (Me){% endif %}</p>
        <p><strong>Email:</strong> {{ user.email }}</p>
    </div>
    <h2>User Posts:</h2>
    <ul class="post-list">
        {% for post in user.user_posts %}
	    <li class="post-item">
	        <a href="/posts/{{ post.id }}" class="post-link">
		    <div class="post-content">
	                <p>{{ post.content }}</p>
		    </div>
		</a>
		<div class="like-buttons">
		    {% if curr_user in user_likes[post.id] %}
		        <form action="/unlike_post/{{ post.id }}" method="POST">
			    <button type="submit" class="unlike-btn">Unlike</button>
			</form>
		    {% else %}
		        <form action="/like_post/{{ post.id }}" method="POST">
			    <button type="submit" class="like-btn">Like</button>
			</form>
		    {% endif %}
		</div>
	    </li>
	{% endfor %}
    </ul>
    <h2> User likes:</h2>
    <ul class="post-list">
	{% for like in user.user_likes %}
	    <li class="post-item">
	        <a href="/posts/{{ like.post.id }}" class="post-link">
		    <div class="post-content">
	                <p>{{ like.post.content }}</p>
			<p class="author-info">
			    <a href="/users/{{ like.post.author_id }}" class="author-link">Author: {{ like.post.author.firstname }} {{ like.post.author.lastname }}</a>
			</p>
		    </div>
		</a>
		<div class="like-buttons">
		    {% if curr_user in user_likes[like.post.id] %}
		        <form action="/unlike_post/{{ like.post.id }}" method="POST">
			    <button type="submit" class="unlike-btn">Unlike</button>
			</form>
		    {% else %}
		        <form action="/like_post/{{ like.post.id }}" method="POST">
			    <button type="submit" class="like-btn">Like</button>
			</form>
		    {% endif %}
		</div>
	    </li>
        {% endfor %}
    </ul>
</body>
</html>
