<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="/static/posts.css">
    <link rel="stylesheet" href="/static/navbar.css">
</head>
<body>
    {% include 'navbar.html' %}
    <h1>User Profile</h1>
    <div>
        <p><strong>Name:</strong> {{ user.firstname }} {{ user.lastname }}{% if is_current_user %} (Me){% endif %}</p>
        <p><strong>Email:</strong> {{ user.email }}</p>
    </div>
    <h2>User Posts:</h2>
    <ul class="post-list">
        {% for post in user.user_posts %}
	    <li class="post-item">
	        <p>{{ post.content }}</p>
	    </li>
	{% endfor %}
    </ul>
    <h2> User likes:</h2>
    <ul class="post-list">
	{% for post in user.user_likes %}
	    <li class="post-item">
	        <p>{{ post.content }}</p>
	    </li>
        {% endfor %}
    </ul>
</body>
</html>
