<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="static/navbar.css">
</head>
<body>
    {% include 'navbar.html' %}
    <h1>User Profile</h1>
    <div>
        <p><strong>Name:</strong> {{ user.firstname }} {{ user.lastname }}{% if is_current_user %} (Me){% endif %}</p>
        <p><strong>Email:</strong> {{ user.email }}</p>
    </div>
</body>
</html>
